.place__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
  }
}