.place__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.09;
  color: #FFFFFF;
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    max-width: 330px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    padding: 0 16px;
    font-size: 32px;
  }
}