.photo-grid {
  padding-top: 92px;
  display: grid;
  justify-content: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
}