.places {
  padding: 92px 48px;
  box-sizing: border-box;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px;
    gap: 72px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding: 64px 0;
    gap: 50px;
  }
}