.lead {
  max-width: 984px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 920px;
  }
}


@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}