.cover__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
  }
}