.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0 16px;
  }
}