.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding: 0 16px;
  }
}