.place__paragraph {
  margin: 0;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}

/* .place__paragraph:nth-child(3) {
  margin-bottom: 0;
}
 */
.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding: 0 16px;
  }
}