.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 2*48px);
  }
}


@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    max-width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: calc(100% - 2*16px);
    padding-top: 64px;
  }
}