.lead__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 32px;
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
  }
}