.lead__caption {
  font-family: 'Inter', Arial, sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}