.cover__title {
  margin: 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 691px) {
  .cover__title {
    font-size: 55px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    max-width: 288px;
  }
}


@media screen and (max-width: 320px) {
  .cover__title {}
}